#features2 {
    text-align: center;
    display: block;
    padding: 50px 0 0 0;
}

#feature2-desc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
}

#feature2-desc > div {
    padding: 10px 10px 30px 10px;
    width: 90%;
}

#feature2-desc h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}
#feature2-desc p {
    font-size: 1.2rem;
    color: #606D8B;
    margin-bottom: 10px;
}

#feature2-desc a {
    color: #004AFF;
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;
}

#feature2-desc a:hover {
    text-decoration: underline;
}